[Unit]
Description=Add
After=network.target lxc-net.service

[Service]
Type=oneshot
ExecStart=/etc/add-ndp-proxy.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
